<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/webpeerConnection.js"></script>

	
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4"><h1 class="pull-left">PacktChat</h1></div>
			
		</div>
		<div class="row">
			<%- body %>
		</div>
	</div>
</body>
</html>